*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(57 57 28);
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    height: 400px ;
    width: 300px ;
    background-color: white;
    border-radius: 20px;
    position: relative;
}

.img{
    object-fit: cover;
    height: 400px;
    width: 300px;
    border-radius: 20px;
}

#box i{
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%) scale(0);
    font-size: 60px;
    color: white;
    position: absolute;
    transition: transform ease 0.5s;
    opacity: 0;
}