*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    color: white;
    
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.content{
    font-size: 10vw;
}

.cursor{
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.2ms;
    mix-blend-mode: difference;
}